<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.companyname.mauitest" >

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION." />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />

    <uses-feature
        android:name="android.hardware.camera"
        android:required="true" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@drawable/ic_mainicon"
        android:label="@string/app_name"
        android:roundIcon="@drawable/ic_mainicon"
        android:supportsRtl="true"
        android:theme="@style/Theme.Fhl"
        tools:targetApi="31" >

        <uses-library
            android:name="org.apache.http.legacy"
            android:required="false" />
        <!--
             TODO: Before you run your application, you need a Google Maps API key.

             To get one, follow the directions here:

                https://developers.google.com/maps/documentation/android-sdk/get-api-key

             Once you have your API key (it starts with "AIza"), define a new property in your
             project's local.properties file (e.g. MAPS_API_KEY=Aiza...), and replace the
             "YOUR_API_KEY" string in this file with "${MAPS_API_KEY}".
        -->
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/google_maps_key" />

        <activity
            android:name="com.companyname.mauitest.MainActivity"
            android:exported="true" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.companyname.mauitest.login.view.login"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".mainContainer"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.companyname.mauitest.mlkit.BarcodeScannerActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.companyname.mauitest.allvalidations.allvalidations"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.companyname.mauitest.signature.signature"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.companyname.mauitest.photoCollection.imageGallery"
            android:exported="true"
            android:screenOrientation="portrait" >
        </activity>
    </application>

</manifest>